@import "tailwindcss";

@layer base {
  html {
    font-family: "Geist", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;
  }
}

/* :root {
  font-family: "Geist", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;
} */