@import "tailwindcss";

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
  -webkit-text-fill-color: #111827 !important; /* text-gray-900 */
  transition: background-color 9999s ease-in-out 0s;
}


@layer base {
  html {
    font-family: "Geist", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;
  }
}

/* :root {
  font-family: "Geist", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;
} */